-e git://github.com/boto/botocore.git@develop#egg=botocore
pytest==3.2.3
pytest-cov==2.5.1
coverage==4.3.4
flake8==3.5.0
mock==2.0.0
# Pylint will fail on py3.  Locking to a commit on master
# until pylint2 is released.
-e git://github.com/PyCQA/pylint.git@7cb3ffddfd96f5e099ca697f6b1e30e727544627#egg=pylint
pydocstyle==2.1.1